<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
            {{#if env.SITE_SEARCH_PROVIDER}}
                <div class="navbar-item search hide-for-print">
                    <div id="search-field" class="field">
                        <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}}
                               autofocus{{/if}}>
                    </div>
                </div>
            {{/if}}
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="https://discord.tduniverse.org">
                    <img class="icon"
                         src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a69f118df70ad7828d4_icon_clyde_blurple_RGB.svg"/>
                </a>
                <a class="navbar-item" href="https://github.com/TDUniverse/EdenTduWiki">
                    <img class="icon"
                         src="https://raw.githubusercontent.com/gilbarbara/logos/master/logos/github-icon.svg"
                         style="filter: invert(100%);"/>
                </a>
            </div>
        </div>
    </nav>
</header>